<!DOCTYPE html>

<html>
<body>
    <div>
        <div>
            <ul>
                <li>
                    <label>Status :</label>
                    <select>
                        <option id="1">Student</option>
                    </select>
                </li>
                <li>
                    <label>Course :</label>
                    <select>
                        <option id="1">PN</option>
                    </select>
                </li>
                <li>
                    <label>ID Number :</label>
                    <input type="text" />
                </li>
                <li>
                    <label>Last Name :</label>
                    <input type="text" />
                </li>
                <li>
                    <label>First Name :</label>
                    <input type="text" />
                </li>
                <li>
                    <label>Middle Name :</label>
                    <input type="text" />
                </li>
                <li>
                    <label>Address :</label>
                    <input type="text" />
                </li>
                <li>
                    <label>Gender :</label>
                    <input type="radio" class="gender" />Male <input type="radio" class="gender" />Female
                </li>
            </ul>
        </div>
        <div>
            <img src="#" />
            <button>Upload Image</button>
        </div>
        <div>
            <button>Save</button>
            <button>Clear</button>
            <button>Exit</button>
        </div>
    </div>
</body>
</html>