<!DOCTYPE html>

<html>
<body>
    <div>
        <ol>
            <li>Client</li>
            <li>Course</li>
            <li>Tally Board</li>
            <li>Identification</li>
            <li>User</li>
            <li>Report</li>
        </ol>
    </div>
</body>
</html>